<MarketplaceDetails>
  <SmallAppTile>TaxAppIcon.png</SmallAppTile>
  <ScreenShots>WVGA1.png;WVGA3.png;WVGA4.png;WVGA5.png;WVGA6.png;WVGA7.png;WVGA8.png;WVGA9.png;</ScreenShots>
  <ScreenShotsWXGA>1.png;2.png;8.png;11.png;9.png;5.png;4.png;6.png;</ScreenShotsWXGA>
  <ScreenShots720P>720 1 (1).png;720 1 (2).png;720 1 (8).png;720 1 (9).png;720 1 (10).png;720 1 (12).png;720 1 (4).png;720 1 (5).png;</ScreenShots720P>
</MarketplaceDetails>